* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}
html {
  scroll-behavior: smooth !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

img,svg {
  pointer-events: none !important;
}
::-webkit-scrollbar {
  opacity: 0 !important;
  width: 0 !important;
  height: 0 !important;
}
